.main{
    width:1000px; /* 要給居中的元素一個寬度，不然margin設定會失效 */
    display: flex;

    /*margin-left: 10%;
    margin-right: 10%;*/

}
.leftBlock{
    width:500px;
    height:1000px;
    background-color: rgb(228, 228, 228);

}
.Slider{
    width:10px;
    height:1000px;
    background-color: rgb(75, 73, 73);
    position: static;
    cursor: default;
    
    

}
.rightBlock{
    width:500px;
    height:1000px;
    background-color: rgb(181, 151, 209);

}

